# node
node_modules
.npm
.pnpm-store

# python
**/__pycache__/
**/.venv/
**/*.pyc

# env/secrets
.env
.env.*
!.env.example

# misc
dist
build
.DS_Store
# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Credentials / secrets
afrotek-partner-access-keys.json
*.env
*.env.*

# OS/IDE
.DS_Store
.vscode/
node_modules/
